{% extends 'base.html' %}
{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">{% block title %}
  <title>Blank SPPMaaaaaaaaaaa</title>{% endblock %}
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row">
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">EKSA</h3>
                                        <p class="m-b-0 m-t-10">Sistem Penilaian Pemarkahan Ekosistem Kondusif Sektor Awam</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Juruaudit</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Pentadbir</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">AIMS</h3>
                                        <p class="m-b-0 m-t-10">Accountability Index Monitoring System</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Juruaudit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">AIKP</h3>
                                        <p class="m-b-0 m-t-10">Anugerah Inovasi Kementerian Pertahanan</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Penilai</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Ketua Penilai</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Pentadbir</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
    </div>
    <div class="row">
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">EKSA</h3>
                                        <p class="m-b-0 m-t-10">Sistem Penilaian Pemarkahan Ekosistem Kondusif Sektor Awam</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Juruaudit</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Pentadbir</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">AIMS</h3>
                                        <p class="m-b-0 m-t-10">Accountability Index Monitoring System</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Juruaudit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center m-b-15">
                                        </div>
                                        <h3 class="font-normal">AIKP</h3>
                                        <p class="m-b-0 m-t-10">Anugerah Inovasi Kementerian Pertahanan</p>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Penilai</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Ketua Penilai</button>
                                        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Pentadbir</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
    </div>
</div>
  {% endblock %}

</body>
</html>